/* :root {
--primary-text-color: #757575;
--color-title: #212121;
--accent: #2196F3; 
--white:#FFFFFF;
--logo-black:  #000000;
--address-colol:rgba(255, 255, 255, 0.6);
--background-color-secondary: #F5F4FA;
--background-color-dark:  #2F303A;
--button-bg:#188CE8;
--border-header: #ECECEC;
--border-project: #EEEEEE;
--color-socials-icon: #AFB1B8;
--background-icon-footer: rgba(255, 255, 255, 0.1);
--color-backdrop:  rgba(0, 0, 0, 0.2);
--color-modal:#F5F5F5;
--color-overlay-work: rgba(47, 48, 58, 0.8);
--color-background-overlay: rgba(33, 150, 243, 0.9);
--color-border-input-footer:rgba(255, 255, 255, 0.3);
--color-border-input-modal: rgba(33, 33, 33, 0.2);
} */


/* Body */
/* body {
    
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    background-color: var(--white);
} */

/* .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
} */


/* Скидання стфндартів для ul */
/* .list {
    list-style: none;
    padding-left: 0;
    margin: 0;
} */

   /* Header */
/* .header {
    border-bottom: 1px solid var(--border-header);
}

.header__flex {
    display: flex;
    align-items: center;
} */

/* Logo */

/* .logo {
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color:var(--accent);
}


.logo--black {
    color: var(--logo-black);
}

.logo--white {
    color:var(--white);
} */


/* Navigation */


/* .header__nav{
    display: flex;
    align-items: center;
} */

    /* Menu*/

/* .menu {
    display: flex; 
    margin-left: 93px;
    gap: 50px;
}


.menu__link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--color-title);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */


/* .menu__link:hover,
.menu__link:focus{
    color: var(--accent);
}

.menu__link--current {
    position: relative;
    padding-bottom: 35px;  
    margin-bottom: -1px;
    color: var(--accent);
}


.menu__link--current:after {
    content:"";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent);
    border-radius: 2px;
}   */


/* Contacts */

/* .contacts {
    margin-left: auto;
}

.contacts__list {
    display: flex;
    gap: 40px;
}

.contacts__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.contacts__link:hover,
.contacts__link:focus {
    color:var(--accent);
}

.contacts__icon {
    margin-right: 10px; 
    fill: currentColor;
}


.link {
    text-decoration: none;
} */


/* Hero */
/* .hero {
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.hero__title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
} */

/* .button {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color:var(--accent);
    color:var(--white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    font-family: inherit;
}

.hero__button {
    min-width: 200px;
    padding: 10px 24px;
    box-shadow: 0px 4px 4px rgba(8, 4, 4, 0.15);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus,
.button:hover{
    color: var(--color-title);
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */



/* Main */
/* Section Переваги */
  

/* .section {
    padding-bottom: 94px;
    padding-top: 94px;
} */

/* .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
} */

/* .feature__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.feature__item {
    width: 270px; 
}

.feature__icon {
   width: 270px;
   height: 120px;
    margin-bottom: 30px;
    padding: 25px 100px;
    background-color: var(--background-color-secondary);
}


.feature__title {
    color: var(--color-title);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}

.feature__text {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
} */

/* Чим ми займаємось */

/* .work__title {
    color: var(--color-title);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
}

.section.work {
    padding-top: 0;
} */

/* img {
    display: block;
    max-width: 100%;
    height: auto;
} */
/* 
.work__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.work__item {
    width: 370px;
} */

/* .image:nth-child(3n) {
    margin-right: 0px;
} */

/* .work__overlay {
    position: relative;
}

.work__box-overlay {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
    background: var(--color-overlay-work);
}

.work__text {
    padding-top: 27px;
    padding-bottom: 27px;
    margin-left: auto;
    margin-right: auto;
} */

/* Section Наша команда */

/* .team {
    background-color: var(--background-color-secondary);
}

.team__title {
    color: var(--color-title);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
}

.team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.employee {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white);
}

.employee__card {
    width: 270px;
}

.employee__info {
    padding: 30px 32px;
}

.employee__name {
    color: var(--color-title);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    margin-top: 0;
}

.employee__profession {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.socials {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.socials__item {
    width: 44px;
    height: 44px;
    
}

.socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    fill: var(--color-socials-icon);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover,
.socials__link:focus {
    background-color: var(--accent);
    fill: var(--white);
} */


/* Постійні клієнти */
/* 
.clients__title {
    color: var(--color-title);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
}

.clients__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.company__item {
    width: 170px;
    height: 92px;
    padding: 16px 32px;
    border: 1px solid var(--color-socials-icon);
    border-radius: 3px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company__item:hover,
.company__item:focus {
    border-color: var(--accent);
}

.company__link {
    fill: var(--color-socials-icon);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company__link:hover,
.company__link:focus {
    fill: var(--accent);
} */


/* Footer */

/* .footer {
    background-color: var(--background-color-dark);
}

.foot {
    display: flex;
    align-items: baseline;
    padding-top: 60px;
    padding-bottom: 60px;

}

.contact {
    margin-right: 70px;
}

.address {
    margin-top: 20px;
    font-style: normal;
}

.address__sity {
    margin-bottom: 9px;
    color: var(--white);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.address__item--bottom {
    margin-bottom: 9px;
}

.address__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--address-colol); 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover,
.address__link:focus {
    color: var(--accent);
} */


/* Приєднуйтесь до нас */

/* .social {
    margin-top: 12px;
    margin-right: 93px;
}

.join-us {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
}

.socials__link--footer {
    fill: var(--white);
    background-color: var(--background-icon-footer);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.socials__link--footer:hover,
.socials__link--footer:focus {
    fill: var(--white);
    background-color: var(--accent);
} */

/* Підписка footer */

/* .subscribe {
    display: flex;
}

.subscribe__input {
    margin: 0;
    margin-right: 12px;
    padding: 15px 16px;
    width: 358px;
    height: 50px;
    color: var(--white);
    border: 1px solid var(--color-border-input-footer);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: var(--background-color-dark);
}

.button-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    height: 50px;
    padding: 10px 28px; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe__icon {
    margin-left: 10px;
    fill: currentColor;
} */


/* Модальне вікно */

/* .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:var(--color-backdrop);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    background-color: var(--color-modal);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 1px 1px rgba(0, 0, 0, 0.14), 
     0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal__button {
    position: absolute;
    top: 8px;
    right: 8px;
}

.button-close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    cursor: pointer;
}

.button__icon {
    width: 100%;
    height: 100%;
    fill: var(--logo-black);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__icon:hover,
.button__icon:focus {
    fill: var(--accent);
}

.form {
    padding: 40px;
    width: 528px;
    display: block;
}

.form__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-title);
}

.form-field__modal {
    margin-bottom: 10px;
}

.form-field__label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
}

.form-field__position {
    position: relative;
    margin-top: 4px;
}

.form-field__icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:focus ~ .form-field__icon,
.form-field__input:hover ~ .form-field__icon {
    fill: var(--accent);
}

.form-field__input {
    display: inline-block;
    height: 40px;
    width: 100%;
    padding: 11px 42px;
    margin: 0;  
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;  
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:hover,
.form-field__input:focus {
    border-color: var(--accent);
}

.textarea {
    margin-bottom: 20px;
    margin-top: 10px;
}

.textarea__name {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
}

.textarea__placeholder {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid var(--color-border-input-modal);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea__placeholder:hover,
.textarea__placeholder:focus {
    border-color: var(--accent);
}

.checkbox {
    margin-bottom: 30px;
}

.checkbox__label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    width: 16px;
    height: 15px;
}

.checkbox__icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border-radius: 2px;
    border: 2px solid  var(--color-title);
    background-color: var(--white);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__icon:hover,
.checkbox__icon:focus {
    border-color: var(--accent);
}

.checkbox__input:checked + .checkbox__icon {
    border-color: transparent;
    background-color: var(--accent);
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
    background-repeat: no-repeat;
}

.checkbox__link {   
    margin-left: 5px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--accent);
}

.checkbox__label {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    
}

.flex-button {
    display: flex;
    justify-content: center;
}

.button-submit {
    min-width: 200px;
    height: 50px;
    padding: 10px 52px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit:hover,
.button-submit:focus {
    background-color: var(--button-bg);
} */



/* Portfolio */ 

/* .filters {
    margin-top: 0;
    margin-bottom: 50px;
}

.filters__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
} */

/* .button-filter {
    padding: 6px 22px;
    color: var(--color-title);
    background-color: var(--background-color-secondary);
    min-width: 67px;
    min-height: 38px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:hover,
.button-filter:focus {
    color: var(--white);
    background-color: var(--accent);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */




/* .project {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project__item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__item:hover,
.project__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__card {
    width: 370px;
}


.project__overlay {
    position: relative;
    overflow: hidden;
}

.project__text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    background-color: var(--color-background-overlay);
    text-align: left;
    opacity: 1;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--white);
    transform: translateY(100%);
    transition: transform 2s;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.project__card:hover .project__text {
    transform: translateY(0);
}

.project__description {
    padding: 20px  24px;
    border-right: 1px solid var(--border-project);
    border-bottom: 1px solid var(--border-project);
    border-left: 1px solid var(--border-project);
}

.project__name {
    margin-bottom: 4px;
    color: var(--color-title);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project__type {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
} */



