
    $primary-text-color: #757575;
    $color-title: #212121;
    $accent: #2196F3; 
    $white:#FFFFFF;
    $logo-black:  #000000;
    $address-colol:rgba(255, 255, 255, 0.6);
    $background-color-secondary: #F5F4FA;
    $background-color-dark:  #2F303A;
    $button-bg:#188CE8;
    $border-header: #ECECEC;
    $border-project: #EEEEEE;
    $color-socials-icon: #AFB1B8;
    $background-icon-footer: rgba(255, 255, 255, 0.1);
    $color-backdrop:  rgba(0, 0, 0, 0.2);
    $color-modal:#F5F5F5;
    $color-overlay-work: rgba(47, 48, 58, 0.8);
    $color-background-overlay: rgba(33, 150, 243, 0.9);
    $color-border-input-footer:rgba(255, 255, 255, 0.3);
    $color-border-input-modal: rgba(33, 33, 33, 0.2);