/* FOOTER */
.footer {

    
    background-color: $footer-color;

}

.foot {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    


}

.logo--white {
    color: $background;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2px;
}


.address {
    font-style: normal;

    @media screen and (min-width: 769px) and (max-width:1199px) {
            
        }
    
    @media screen and (max-width: 767px) {
            padding: 20px;
            margin-bottom: 60px;
        }
        
        @media screen and (max-width: 480px) {
            padding: 20px;
            margin-bottom: 60px;
        }

    &__sity {
        color: $background;
        margin-top: 20px;

    }

    &__item {
        margin-top: 9px;
    }

    &__contact {
        color: $color-address;
        text-decoration: none;

    }

}

/* приєднуйтесь */
.join {
    display: flex;
    flex-direction: column;
    margin-left: 70px;

    @media screen and (min-width: 769px) and (max-width:1199px) {
            display: flex;
            flex-wrap: wrap;
        }
    
        @media screen and (max-width: 767px) {
            display: block;
            display: flex;
            margin-bottom: 60px;
    
        }
    
        @media screen and (max-width: 480px) {
            display: block;
            flex-wrap: wrap;
            margin-top: 60px;
    
        }

  
    &__title {
        text-transform: uppercase;
        // text-align: center;
        color: $background;
        margin-bottom: 20px;
        margin-right: 70px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14px;
        letter-spacing: 0.03em;
    }

    &__list {
        display: flex;
        // justify-content: center;
        gap: 10px;
        padding-left: 0;
        padding-right: 0;
        margin-top: 20px;
    }

    &__link {
        display: flex;
        background-position: center;
        content: "";

        width: 40px;
        height: 40px;

        border-radius: 50%;
        padding: 12px 12px;
        fill: $background;
        background-color: rgba(255, 255, 255, 0.1);
    }

    &__link:focus,
    &__link:hover {
        background-color: $accent-color;
        fill: $background;
    }   
}


/* підпишись */
.subscription {
    margin-left: 93px;
    width: 570px;
    height: 86px;

    @media screen and (min-width: 769px) and (max-width:1199px) {
            display: flex;
            flex-wrap: wrap;
        }
    
        @media screen and (max-width: 767px) {
            display: block;
            // margin-top: 60px;
            lex-direction: column;
        }
    
        @media screen and (max-width: 480px) {
            margin-bottom: 20px;
            // display: block;
            // flex-wrap: wrap;
            // margin-top: 60px;
            // flex-direction: column;
    
        }

    &__title {
        margin-top: 0;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $background;
        @media screen and (min-width: 769px) and (max-width:1199px) {
                display: flex;
                flex-wrap: wrap;
            }
        
            @media screen and (max-width: 767px) {
                display: block;
                display: flex;
            }
        
            @media screen and (max-width: 480px) {
                display: block;
                flex-direction: column;
        
            }
    }

    &__form {
        display: flex;

        @media screen and (min-width: 769px) and (max-width:1199px) {
             display: flex;
             flex-wrap: wrap;
         }
        
        @media screen and (max-width: 767px) {
             flex-direction: column;
         }
        
        @media screen and (max-width: 480px) {
             display: block;
             flex-direction: column;
             

        }
    }

        &__input {
        margin: 0;
        margin-right: 12px;
        margin-bottom: 20px;
        padding: 15px;
        width: 358px;
        height: 50px;
        border: 1px solid $color-border-input;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background: $footer-color;
        color: $background;
    }


    &__icon {
        margin-left: 10px;
        fill: $background;
    }

}




