.hero {
    background-color: $footer-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url('../images/iImg-overlay.jpg');
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 200px;
    padding-bottom: 200px;


    // @media screen and (max-width: 480px) {
           
    //     }
    // @media (min-device-pixel-ratio: 2),
    // (min-resolution: 192dpi),
    // (min-resolution: 2dppx) {
    // background-image:url('/images/mobile/moboleheader@2x.jpg');
    // }




    &__title {
    color: $background;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;


    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    }
}


  @media (min-width: 767px) and (min-width: 1199px){
    .hero{
        background-image: url(/images/tablet/tabletheader.jpg)
    }

    @media (min-resolution: 2dppx) {
        .hero{
            background-image: url(/images/tablet/tabletheader@2x.jpg);
        }
    }
  }

   @media (min-width: 320px) and (max-width: 767px) {
       .hero {
           background-image: url(/images/mobile/mobileheader.jpg)
       }

       @media (min-resolution: 2dppx) {
           .hero {
               background-image: url(/images/mobile/moboleheader@2x.jpg);
           }
       }
}

   


